# The random Julia PDF file
/julia_code/julia-*.pdf

# The game data files (for now)
/game_data/

# Pre-compiled Python files
__pycache__/

# Rust nonsense
/project_rustio/Cargo.lock
/project_rustio/target/
